    color: green;
    font-size: 36px;
}

.post {
    height: 200px;
}

.post img {
    height: 150px;
}

.post:hover {
    background-color: #ddd;
}

.custom-circle {
    border: 1px solid red;
    border-radius: 50%;
}