<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
{% include 'includes/search_form.html' %}
    <h2>Shorts</h2>
    {% for short in shorts_list %}
        <div>
            <hr>
            <a href="{% url 'shorts-info' short.id %}">
                {{ short.user }} - {{ short.created_at }}
            </a>
            <div>
                <video width="350px" src="{{ short.video.url }}">
                </video>
            </div>
        </div>
    {% endfor %}
</body>
</html>
{% endblock %}